/* Atom One Light theme for CodeMirror v5 */
/* Based on atom-one-light.css Highlight.js colors and Atom One Light VS Code UI styling */

.cm-s-one-light.CodeMirror {
  background: #fafafa;
  color: #383a42;
}

.cm-s-one-light div.CodeMirror-selected { background: #e8e8e8; }
.cm-s-one-light .CodeMirror-line::selection,
.cm-s-one-light .CodeMirror-line > span::selection,
.cm-s-one-light .CodeMirror-line > span > span::selection { background: #e8e8e8; }
.cm-s-one-light .CodeMirror-line::-moz-selection,
.cm-s-one-light .CodeMirror-line > span::-moz-selection,
.cm-s-one-light .CodeMirror-line > span > span::-moz-selection { background: #e8e8e8; }

.cm-s-one-light .CodeMirror-gutters {
  background: #f7f7f7;
  border-right: 1px solid #ededed;
}
.cm-s-one-light .CodeMirror-guttermarker { color: #a0a1a7; }
.cm-s-one-light .CodeMirror-linenumber { color: #a0a1a7; }

.cm-s-one-light .CodeMirror-cursor { border-left: 1px solid #383a42; }

.cm-s-one-light .CodeMirror-activeline-background { background: #f3f3f3; }
/* Matching bracket highlight */
.cm-s-one-light .CodeMirror-matchingbracket {
  outline: solid 1px rgba(56, 58, 66, .25);
  color: #383a42 !important;
}

/* Syntax highlighting */
.cm-s-one-light span.cm-comment,
.cm-s-one-light span.cm-quote { color: #a0a1a7; font-style: italic; }

.cm-s-one-light span.cm-keyword { color: #a626a4; }

.cm-s-one-light span.cm-atom,
.cm-s-one-light span.cm-operator { color: #0184bb; }

.cm-s-one-light span.cm-number,
.cm-s-one-light span.cm-variable,
.cm-s-one-light span.cm-type { color: #986801; }

.cm-s-one-light span.cm-def,
.cm-s-one-light span.cm-variable-3,
.cm-s-one-light span.cm-error { color: #e45649; }

.cm-s-one-light span.cm-string,
.cm-s-one-light span.cm-string-2,
.cm-s-one-light span.cm-attribute { color: #50a14f; }

.cm-s-one-light span.cm-meta,
.cm-s-one-light span.cm-link { color: #4078f2; }

.cm-s-one-light span.cm-builtin,
.cm-s-one-light span.cm-qualifier,
.cm-s-one-light span.cm-property { color: #c18401; }

.cm-s-one-light span.cm-bracket { color: #383a42; }

.cm-s-one-light span.cm-header { color: #4078f2; font-weight: bold; }

.cm-s-one-light span.cm-strong { font-weight: bold; }
.cm-s-one-light span.cm-em { font-style: italic; }

.cm-s-one-light span.cm-link:visited { color: #4078f2; }

.cm-s-one-light span.cm-variable-2 {
  color: #2fb357;
}
